{% extends 'base.html' %}

{% load static from staticfiles %}

{% block style %}

<style type="text/css">
	
	#subheader{
		padding-top: 80px;
	}

	.margen-footer{
		margin-top: 0em;
	}


</style>

{% endblock %}

{% block main %}

{% if user.student %}
	<div class="container" style="width:99.9%">
		<div class="row">
			<div class="col-md-4">
				<div class="media">
				  <a class="media-left" href="#">
				    {% if user.avatar %}
				    	<img src="{{MEDIA_URL}}{{user.avatar}}" class="img-circle avatar-profile">
				    {% else %}
				    	<img src="{% static 'img/user.jpg' %}" class="img-circle avatar-profile">
				    {% endif %}
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading"><b>{{ user.full_name}}</b><a href="/edit"><span class="edit">[edit profile]</span></a></h4>
				    <!--<p>STUDENT</p>-->
				  </div>
				</div>
				<div>
					<p class="margen-top-1">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.
					</p>
					<p class="margen-top-1">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur.
					</p>
				</div>
			</div>
			<div class="col-md-8 col-profile">
				<h2><b>FOLLOW TO:</b></h2>
				<div class="row ">
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
				</div>

				<h2 class="margen-top-1"><b>MY CLASSES:</b></h2>

				<div class="contenido">
				
				<div class="row margen-top-1">

					<div class="col-md-4 col-md-4-class">
						<div class="panel panel-default panel-def-class" data-toggle="modal" data-target="#myModal">
                        <div class="panel-heading">
                          <p class="title-class-day-free text-center">Saturday 1</p>
                        </div>
                        <div class="panel-body">
                          <p class="title-class">Lorem ipsun</p>
                          <p class="teacher-class">
                            <span class="color-asbestos">with</span>
                            <span class="color-carrot">John Doe</span>
                          </p>
                          <p class="hour-class">
                            7:00 am
                          </p>
                          <p class="text-class">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.
                          </p>
                          <p class="location-class">
                            <span class="glyphicon glyphicon-map-marker color-silver"></span>
                            <span><b>Primavera</b></span>
                          </p>
                        </div> 
                      </div>
					</div>

					<div class="col-md-4 col-md-4-class">
						<div class="panel panel-default panel-def-class" data-toggle="modal" data-target="#myModal">
                        <div class="panel-heading">
                          <p class="title-class-day-free text-center">Saturday 1</p>
                        </div>
                        <div class="panel-body">
                          <p class="title-class">Lorem ipsun</p>
                          <p class="teacher-class">
                            <span class="color-asbestos">with</span>
                            <span class="color-carrot">John Doe</span>
                          </p>
                          <p class="hour-class">
                            7:00 am
                          </p>
                          <p class="text-class">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.
                          </p>
                          <p class="location-class">
                            <span class="glyphicon glyphicon-map-marker color-silver"></span>
                            <span><b>Primavera</b></span>
                          </p>
                        </div> 
                      </div>
					</div>

					<div class="col-md-4 col-md-4-class">
						<div class="panel panel-default panel-def-class" data-toggle="modal" data-target="#myModal">
                        <div class="panel-heading">
                          <p class="title-class-day-free text-center">Saturday 1</p>
                        </div>
                        <div class="panel-body">
                          <p class="title-class">Lorem ipsun</p>
                          <p class="teacher-class">
                            <span class="color-asbestos">with</span>
                            <span class="color-carrot">John Doe</span>
                          </p>
                          <p class="hour-class">
                            7:00 am
                          </p>
                          <p class="text-class">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.
                          </p>
                          <p class="location-class">
                            <span class="glyphicon glyphicon-map-marker color-silver"></span>
                            <span><b>Primavera</b></span>
                          </p>
                        </div> 
                      </div>
					</div>

					<div class="col-md-4 col-md-4-class">
						<div class="panel panel-default panel-def-class" data-toggle="modal" data-target="#myModal">
                        <div class="panel-heading">
                          <p class="title-class-day-free text-center">Saturday 1</p>
                        </div>
                        <div class="panel-body">
                          <p class="title-class">Lorem ipsun</p>
                          <p class="teacher-class">
                            <span class="color-asbestos">with</span>
                            <span class="color-carrot">John Doe</span>
                          </p>
                          <p class="hour-class">
                            7:00 am
                          </p>
                          <p class="text-class">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.
                          </p>
                          <p class="location-class">
                            <span class="glyphicon glyphicon-map-marker color-silver"></span>
                            <span><b>Primavera</b></span>
                          </p>
                        </div> 
                      </div>
					</div>

				</div>
				</div>

			</div>
		</div>
	</div>

{% elif user.teacher %}
	<div class="container" style="width:99.9%">
		<div class="row">
			<div class="col-md-4">
				<div class="media">
				  <a class="media-left" href="#">
				  	{% if user.avatar %}
				    	<img src="{{MEDIA_URL}}{{user.avatar}}" class="img-circle avatar-profile">
				    {% else %}
				    	<img src="{% static 'img/user.jpg' %}" class="img-circle avatar-profile">
				    {% endif %}
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading"><b>{{ user.full_name }}</b><a href="/edit"><span class="edit">[edit profile]</span></a></h4>
				    <!--<p>TEACHER/{% if user.premium %}PREMIUM MEMBERSHIP{% else %}BASIC MEMBERSHIP{% endif %}</p>-->
				    <p>
				    	<a href="" class="btn btn-follow btn-xs"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;<b>Follow</b></a>
				    </p>
				  </div>
				</div>
				<div>
					<p class="margen-top-1">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.
					</p>
					<p class="margen-top-1">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur.
					</p>
				</div>
			</div>
			<div class="col-md-8 col-profile">
				{% if user.premium %}
				<div class="row">
					<div class="col-md-6">
						<h2><b>GALLERY</b></h2>

						<div class="row" style="width:99%; margin:0 auto;">
							<div class="col-md-4 ga" >
								<img src="{% static 'img/plomo.jpg' %}" width="100%">
							</div>
							<div class="col-md-4 ga">
								<img src="{% static 'img/plomo.jpg' %}" width="100%">
							</div>
							<div class="col-md-4 ga">
								<img src="{% static 'img/plomo.jpg' %}" width="100%">
							</div>
							<div class="col-md-4 ga">
								<img src="{% static 'img/plomo.jpg' %}" width="100%">
							</div>
							<div class="col-md-4 ga">
								<img src="{% static 'img/plomo.jpg' %}" width="100%">
							</div>
							<div class="col-md-4 ga">
								<img src="{% static 'img/plomo.jpg' %}" width="100%">
							</div>
							<div class="col-md-4 ga">
								<img src="{% static 'img/plomo.jpg' %}" width="100%">
							</div>
							<div class="col-md-4 ga">
								<img src="{% static 'img/plomo.jpg' %}" width="100%">
							</div>
							<div class="col-md-4 ga">
								<img src="{% static 'img/plomo.jpg' %}" width="100%">
							</div>
							
						</div>
					</div>
					<div class="col-md-6 col-profile">
						<h2><b>FOLLOWERS</b></h2>

						<div class="row ">
							<div class="col-md-3 margen-top-1">
								<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
								<p class="text-center">Jhon Doe</p>
							</div>
							<div class="col-md-3 margen-top-1">
								<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
								<p class="text-center">Jhon Doe</p>
							</div>
							<div class="col-md-3 margen-top-1">
								<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
								<p class="text-center">Jhon Doe</p>
							</div>
							<div class="col-md-3 margen-top-1">
								<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
								<p class="text-center">Jhon Doe</p>
							</div>
							<div class="col-md-3 margen-top-1">
								<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
								<p class="text-center">Jhon Doe</p>
							</div>
							<div class="col-md-3 margen-top-1">
								<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
								<p class="text-center">Jhon Doe</p>
							</div>
							<div class="col-md-3 margen-top-1">
								<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
								<p class="text-center">Jhon Doe</p>
							</div>
							<div class="col-md-3 margen-top-1">
								<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
								<p class="text-center">Jhon Doe</p>
							</div>
							<div class="col-md-3 margen-top-1">
								<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
								<p class="text-center">Jhon Doe</p>
							</div>
							<div class="col-md-3 margen-top-1">
								<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
								<p class="text-center">Jhon Doe</p>
							</div>
							<div class="col-md-3 margen-top-1">
								<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
								<p class="text-center">Jhon Doe</p>
							</div>
							<div class="col-md-3 margen-top-1">
								<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
								<p class="text-center">Jhon Doe</p>
							</div>
						</div>
					</div>
				</div>
				{% else %}
					<div class="row">
						<div class="col-md-12">
							<div class="bg-clouds">
								<div class="row inner-upgrade">
									<div class="col-md-6 col-md-offset-3 text-center">
										<h3 style="color:black">Want to have a photo gallery and see your followers?</h3>
										<a href="/premium" class="btn btn-lg margen-top-1 btn-upgrade"><h3><b>Upgrade Membership</b></h3></a>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% else %}
	no
{% endif %}

{% endblock %}