{% extends 'base.html' %}

{% load static from staticfiles %}

{% block style %}

<style type="text/css">
	
	#subheader{
		padding-top: 80px;
	}

	.panel-default{
		border-color: rgba(221, 221, 221, 0);
		border-radius: 0;
		background-color: #ecf0f1;
	}

	.margen-footer{
		margin-top: 0em;
	}

</style>

{% endblock %}

{% block login %}

{% if user.is_authenticated %}
	<div class="user-login" >
		<img src="{{MEDIA_URL}}{{user.avatar}}" class="img-circle" id="popover" data-container="body" data-toggle="popover" data-placement="bottom">
		<a href="#" style="color:#B8CF2A;"><b>{{ user.full_name }}</b></a>
	</div>
   
{% else %}
	<div >
		<a href="/login" class="btn btn-orange btn-sm btn-sm-customize color-white">Login</a>
		<a href="/register" class="btn btn-alizarin btn-sm btn-sm-customize color-white">Register</a>
	</div>
    
{% endif %}

{% endblock %}

{% block main %}

{% if user.student %}
	<div class="container" style="width:99.9%">
		<div class="row">
			<div class="col-md-4">
				<div class="media">
				  <a class="media-left" href="#">
				    <img src="{{MEDIA_URL}}{{user.avatar}}" class="img-circle avatar-profile">
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading"><b>{{user.full_name}}</b><span class="edit">[edit profile]</span></h4>
				    <p>STUDENT</p>
				  </div>
				</div>
				<div>
					<p class="margen-top-1">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.
					</p>
					<p class="margen-top-1">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur.
					</p>
				</div>
			</div>
			<div class="col-md-8 col-profile">
				<h2><b>FOLLOW TO:</b></h2>
				<div class="row ">
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
					<div class="grid-follow margen-top-1">
						<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
						<p class="text-center">Jhon Doe</p>
					</div>
				</div>
			</div>
		</div>
	</div>

{% elif user.teacher %}
	<div class="container" style="width:99.9%">
		<div class="row">
			<div class="col-md-4">
				<div class="media">
				  <a class="media-left" href="#">
				    <img src="{{MEDIA_URL}}{{user.avatar}}" class="img-circle avatar-profile">
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading"><b>{{user.full_name}}</b><span class="edit">[edit profile]</span></h4>
				    <p>TEACHER/{% if user.premium %}PREMIUM MEMBERSHIP{% else %}BASIC MEMBERSHIP{% endif %}</p>
				    <p>
				    	<a href="" class="btn btn-follow btn-xs"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;<b>Follow</b></a>
				    </p>
				  </div>
				</div>
				<div>
					<p class="margen-top-1">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.
					</p>
					<p class="margen-top-1">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur.
					</p>
				</div>
			</div>
			<div class="col-md-8 col-profile">
				{% if user.premium %}
				<div class="row">
					<div class="col-md-6">
						<h2><b>GALLERY</b></h2>

						<div class="row" style="width:99%; margin:0 auto;">
							<div class="col-md-4 ga" >
								<img src="{% static 'img/plomo.jpg' %}" width="100%">
							</div>
							<div class="col-md-4 ga">
								<img src="{% static 'img/plomo.jpg' %}" width="100%">
							</div>
							<div class="col-md-4 ga">
								<img src="{% static 'img/plomo.jpg' %}" width="100%">
							</div>
							<div class="col-md-4 ga">
								<img src="{% static 'img/plomo.jpg' %}" width="100%">
							</div>
							<div class="col-md-4 ga">
								<img src="{% static 'img/plomo.jpg' %}" width="100%">
							</div>
							<div class="col-md-4 ga">
								<img src="{% static 'img/plomo.jpg' %}" width="100%">
							</div>
							<div class="col-md-4 ga">
								<img src="{% static 'img/plomo.jpg' %}" width="100%">
							</div>
							<div class="col-md-4 ga">
								<img src="{% static 'img/plomo.jpg' %}" width="100%">
							</div>
							<div class="col-md-4 ga">
								<img src="{% static 'img/plomo.jpg' %}" width="100%">
							</div>
							
						</div>
					</div>
					<div class="col-md-6 col-profile">
						<h2><b>FOLLOWERS</b></h2>

						<div class="row ">
							<div class="col-md-3 margen-top-1">
								<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
								<p class="text-center">Jhon Doe</p>
							</div>
							<div class="col-md-3 margen-top-1">
								<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
								<p class="text-center">Jhon Doe</p>
							</div>
							<div class="col-md-3 margen-top-1">
								<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
								<p class="text-center">Jhon Doe</p>
							</div>
							<div class="col-md-3 margen-top-1">
								<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
								<p class="text-center">Jhon Doe</p>
							</div>
							<div class="col-md-3 margen-top-1">
								<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
								<p class="text-center">Jhon Doe</p>
							</div>
							<div class="col-md-3 margen-top-1">
								<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
								<p class="text-center">Jhon Doe</p>
							</div>
							<div class="col-md-3 margen-top-1">
								<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
								<p class="text-center">Jhon Doe</p>
							</div>
							<div class="col-md-3 margen-top-1">
								<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
								<p class="text-center">Jhon Doe</p>
							</div>
							<div class="col-md-3 margen-top-1">
								<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
								<p class="text-center">Jhon Doe</p>
							</div>
							<div class="col-md-3 margen-top-1">
								<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
								<p class="text-center">Jhon Doe</p>
							</div>
							<div class="col-md-3 margen-top-1">
								<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
								<p class="text-center">Jhon Doe</p>
							</div>
							<div class="col-md-3 margen-top-1">
								<img src="{% static 'img/user-follow.png' %}" class="img-circle" style="width:100%">
								<p class="text-center">Jhon Doe</p>
							</div>
						</div>
					</div>
				</div>
				{% else %}
					<div class="row">
						<div class="col-md-12">
							<div class="bg-clouds">
								<div class="row">
									<div class="col-md-6 col-md-offset-3">
										<h4 style="color:black">¿Quieres tener una galería de fotos y ver a tus seguidores? <span class="color-silver">(traducir esto)</span></h4>
										<button class="btn btn-lg">Upgrade Membership</button>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% else %}
	no
{% endif %}

{% endblock %}