{% extends 'base.html' %}

{% load static from staticfiles %}

{% block style %}

<style type="text/css">
	
	#subheader{
		padding-top: 80px;
	}

	.panel-default{
		border-color: rgba(221, 221, 221, 0);
		border-radius: 0;
		background-color: #ecf0f1;
	}

	.margen-footer{
		margin-top: 20em;
	}

</style>

{% endblock %}

{% block main %}

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="text-center">
				<b>About US</b>
			</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-justify">
			<div class="margen-top-1">
				<b>Free</b><br>
				Once upon a time, a student could walk up to a guru and, in exchange for their commitment, obtain the magic teachings of yoga. This was in another place and in another time and although this is still possible, it is not so common in the Western world. Although Westerns are fortunate that the richness of yoga made it to our shores, yoga has become an industry, like any other. Many, who are in great need of this ancient practice for personal transformation, simply cannot afford it. However, there are countless generous souls compelled to share their knowledge and make a gift their time to teach yoga to others.
			</div>
			

			<div class="margen-top-1">
				<b>Yoga</b><br>
				Yoga is a path for personal growth and tranformation. Many call the transformation that takes place a "spiritual" one. Practically, yoga helps to calm the mind, to bring awareness to one's own thoughts by sharpening focus and creating space for observation. The result5 is inner peace. Yogic exercise helps tone muscles, beautify skin, retard aging and bring overall health and well-being to the body. All of these provide more than enough reason to practice yoga, but these are only side effects. Ultimately, it is the student's mind that gradually begins to transform into a more peaceful quiet state. This inner peace is contagious. We want it to spread!
			</div>

			<div class="margen-top-1">
				<b>World</b><br>
				In these times of planetary changes and upheaval - wars, environmental and financial crisis, etc., transformation is key for the evolution of the human species. Awareness needs to grow. Fostering global awareness and transformation must happen one individual at a time. Those who practice yoga understand that yoga can help us create peaceful minds, which translates into peaceful more conscientious humans, and ultimately, a better world for all.
			</div>

			<div class="margen-top-1">
				FreeYogaWorld is a non-profit with a very specific and simple mission: to help make yoga accessible to all-not just to those who can afford it.
			</div>

			<div class="margen-top-1">
				By creating a platform that unites the yoga community and promotes free and donation-based classes generously shared by dedicated teachers around the world, yoga can reach all those interested in this transformative practice.
			</div>

			<div class="margen-top-1">
				<b>Teachers:</b>
				feel free to post a free or donation-based class on our calendar and create a free profile. Click here....
			</div>

			<div class="margen-top-1">
				<b>Students:</b>
				feel free to find classes in your city, create a free profile, follow your favorite teachers, and explore the world of yoga. Click here....
			</div>

		</div>
	</div>
</div>

{% endblock %}