{% extends 'base.html' %}

{% load static from staticfiles %}

{% block style %}

<style type="text/css">
	
	#subheader{
		padding-top: 80px;
	}

  .row-customize{
    padding-bottom: 1em;
  }

  footer{
    margin-top: 0;
  }

</style>

{% endblock %}

{% block subtitle %}
<span class="color-asbestos lasted-subtitle" id="cal"></span>               
{% endblock %}

{% block main %}
<section>
          <div class="container-fluid">
            <div class="row">
              <div class="grid-80" >
                <div class="row-customize">
                  <div id="contenedor">
                  {% for class in classes %}
                    {% if class.image %}
                      
                    <!-- class premium -->
                    <div class="grid-25">
                      <div class="panel panel-default panel-def-class panel-default-premium" data-toggle="modal" data-target="#myModal">
                        <div class="panel-heading panel-heading-premium">
                          <p class="title-class-day-premium text-center">{{ class.date|date:"l d" }}</p>
                        </div>
                        <div class="panel-body panel-body-customize">
                          <p class="title-class margin-both">{{ class.title }}</p>
                          <p class="teacher-class margin-both">
                            <span class="color-asbestos">with</span>
                            <span class="color-carrot">{{ class.user.full_name }}</span>
                          </p>
                          <p class="hour-class margin-both">
                            10:00 am
                          </p>
                          <figure class="img-class-premium">
                            <img src="{{MEDIA_URL}}{{class.image}}" width="100%" height="130px">
                          </figure>  
                          
                          <p class="text-class margin-both">
                            {{ class.description }}
                          </p>
                          <p class="location-class margin-both">
                            <span class="glyphicon glyphicon-map-marker color-silver"></span>
                            <span><b>{{ class.address }}</b></span>
                          </p>
                        </div>
                      </div>
                    </div>
                    {% else %}
  
                    <div class="grid-25">
                      <div class="panel panel-default panel-def-class" data-toggle="modal" data-target="#myModal">
                        <div class="panel-heading">
                          <p class="title-class-day-free text-center">{{ class.date|date:"l d" }}</p>
                        </div>
                        <div class="panel-body">
                          <p class="title-class">{{ class.title }}</p>
                          <p class="teacher-class">
                            <span class="color-asbestos">with</span>
                            <span class="color-carrot">{{ class.user.full_name }}</span>
                          </p>
                          <p class="hour-class">
                            7:00 am
                          </p>
                          <p class="text-class">
                            {{ class.description }}
                          </p>
                          <p class="location-class">
                            <span class="glyphicon glyphicon-map-marker color-silver"></span>
                            <span><b>{{ class.address }}</b></span>
                          </p>
                        </div> 
                      </div>
                    </div>
                    {% endif %}

                  {% endfor %}
                  </div>

                </div>
                
              </div>
              <div class="grid-20">
                <div class="panel panel-default">
                  <div class="panel-body">
                    Ads
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header panel-heading-premium">
        <h4 class="modal-title" id="myModalLabel">Saturday 8</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-7">
            <p class="title-class">Karma Yoga Wednesday at Trio</p>
            <p class="teacher-class">
              <span class="color-asbestos">with</span>
              <span class="color-carrot">Carlos</span>
            </p>
            <p class="hour-class">
              10.00 a.m.
            </p>
             
          </div>

        </div>
        <figure class="img-class-premium img-modal">
              <img src="{% static 'img/yoga.jpg' %}" width="100%" height="130px" class="img-modal-true">
            </figure> 
        
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}

<script type="text/javascript">
  // Using Masonry to adjustable columns
  var container = document.querySelector('#contenedor');

  var msnry = new Masonry( container, {
    itemSelector: '.grid-25'
  });
</script>

<script type="text/javascript">
  
  var date = new Date;
  var numMonth = date.getMonth();
  var monthNames = [ "JANUARY", "FEBRUARY", "MARCH", "APRIL", "MAY", "JUNE",
    "JULY", "AUGUST", "SEPTEMBER", "OCTOBER", "NOVEMBER", "DECEMBER" ];

  $('#cal').text(monthNames[numMonth]);

</script>

{% endblock %}
