{% extends 'base.html' %}

{% load static from staticfiles %}

{% block style %}

<style type="text/css">
	
	#subheader{
		padding-top: 80px;
	}

</style>

{% endblock %}

{% block main %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-profiles">
			<div class="panel panel-default panel-profiles">
				<div class="panel-body">
					<div class="media">
					  <a class="media-left" href="#">
					    <img src="{% static 'img/user.jpg' %}" class="img-circle img-profiles">
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading"><b>John Doe</b></h4>
					    <div class="row">
					    	<div class="col-md-6">
					    		Miami Florida 542
					    	</div>
					    	<div class="col-md-6 text-right">
					    		<a href="" class="btn btn-follow-2 btn-xs"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;<b>Follow</b></a>
					    	</div>
					    	
					    </div>
					    
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-profiles">
			<div class="panel panel-default panel-profiles">
				<div class="panel-body">
					<div class="media">
					  <a class="media-left" href="#">
					    <img src="{% static 'img/user.jpg' %}" class="img-circle img-profiles">
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading"><b>John Doe</b></h4>
					    <div class="row">
					    	<div class="col-md-6">
					    		Miami Florida 542
					    	</div>
					    	<div class="col-md-6 text-right">
					    		<a href="" class="btn btn-follow-2 btn-xs"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;<b>Follow</b></a>
					    	</div>
					    	
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-profiles">
			<div class="panel panel-default panel-profiles">
				<div class="panel-body">
					<div class="media">
					  <a class="media-left" href="#">
					    <img src="{% static 'img/user.jpg' %}" class="img-circle img-profiles">
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading"><b>John Doe</b></h4>
					    <div class="row">
					    	<div class="col-md-6">
					    		Miami Florida 542
					    	</div>
					    	<div class="col-md-6 text-right">
					    		<a href="" class="btn btn-follow-2 btn-xs"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;<b>Follow</b></a>
					    	</div>
					    	
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-profiles">
			<div class="panel panel-default panel-profiles">
				<div class="panel-body">
					<div class="media">
					  <a class="media-left" href="#">
					    <img src="{% static 'img/user.jpg' %}" class="img-circle img-profiles">
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading"><b>John Doe</b></h4>
					    <div class="row">
					    	<div class="col-md-6">
					    		Miami Florida 542
					    	</div>
					    	<div class="col-md-6 text-right">
					    		<a href="" class="btn btn-follow-2 btn-xs"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;<b>Follow</b></a>
					    	</div>
					    	
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-profiles">
			<div class="panel panel-default panel-profiles">
				<div class="panel-body">
					<div class="media">
					  <a class="media-left" href="#">
					    <img src="{% static 'img/user.jpg' %}" class="img-circle img-profiles">
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading"><b>John Doe</b></h4>
					    <div class="row">
					    	<div class="col-md-6">
					    		Miami Florida 542
					    	</div>
					    	<div class="col-md-6 text-right">
					    		<a href="" class="btn btn-follow-2 btn-xs"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;<b>Follow</b></a>
					    	</div>
					    	
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-profiles">
			<div class="panel panel-default panel-profiles">
				<div class="panel-body">
					<div class="media">
					  <a class="media-left" href="#">
					    <img src="{% static 'img/user.jpg' %}" class="img-circle img-profiles">
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading"><b>John Doe</b></h4>
					    <div class="row">
					    	<div class="col-md-6">
					    		Miami Florida 542
					    	</div>
					    	<div class="col-md-6 text-right">
					    		<a href="" class="btn btn-follow-2 btn-xs"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;<b>Follow</b></a>
					    	</div>
					    	
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-profiles">
			<div class="panel panel-default panel-profiles">
				<div class="panel-body">
					<div class="media">
					  <a class="media-left" href="#">
					    <img src="{% static 'img/user.jpg' %}" class="img-circle img-profiles">
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading"><b>John Doe</b></h4>
					    <div class="row">
					    	<div class="col-md-6">
					    		Miami Florida 542
					    	</div>
					    	<div class="col-md-6 text-right">
					    		<a href="" class="btn btn-follow-2 btn-xs"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;<b>Follow</b></a>
					    	</div>
					    	
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-profiles">
			<div class="panel panel-default panel-profiles">
				<div class="panel-body">
					<div class="media">
					  <a class="media-left" href="#">
					    <img src="{% static 'img/user.jpg' %}" class="img-circle img-profiles">
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading"><b>John Doe</b></h4>
					    <div class="row">
					    	<div class="col-md-6">
					    		Miami Florida 542
					    	</div>
					    	<div class="col-md-6 text-right">
					    		<a href="" class="btn btn-follow-2 btn-xs"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;<b>Follow</b></a>
					    	</div>
					    	
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-profiles">
			<div class="panel panel-default panel-profiles">
				<div class="panel-body">
					<div class="media">
					  <a class="media-left" href="#">
					    <img src="{% static 'img/user.jpg' %}" class="img-circle img-profiles">
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading"><b>John Doe</b></h4>
					    <div class="row">
					    	<div class="col-md-6">
					    		Miami Florida 542
					    	</div>
					    	<div class="col-md-6 text-right">
					    		<a href="" class="btn btn-follow-2 btn-xs"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;<b>Follow</b></a>
					    	</div>
					    	
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-profiles">
			<div class="panel panel-default panel-profiles">
				<div class="panel-body">
					<div class="media">
					  <a class="media-left" href="#">
					    <img src="{% static 'img/user.jpg' %}" class="img-circle img-profiles">
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading"><b>John Doe</b></h4>
					    <div class="row">
					    	<div class="col-md-6">
					    		Miami Florida 542
					    	</div>
					    	<div class="col-md-6 text-right">
					    		<a href="" class="btn btn-follow-2 btn-xs"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;<b>Follow</b></a>
					    	</div>
					    	
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}