{% extends 'base.html' %}

{% load static from staticfiles %}

{% block style %}

<style type="text/css">
	
	#subheader{
		padding-top: 80px;
	}

	.media-heading{
		padding-top: 0;
	}

</style>

{% endblock %}


{% block main %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="subtitle-resource">
				eLearning
			</div>
			
		</div>
		<div class="col-md-6 col-profiles">
			<div class="panel panel-default panel-resources">
				<div class="panel-body">
					<div class="media">
					  <a class="media-left" href="#">
					    <img src="{% static 'img/resource.jpg' %}" class="img-resource">
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading"><b class="font-size-1">Mauris quis mattis est</b></h4>
					    
					    <p class="font-size-peq-2">
					    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					    	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					    	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					    	consequat. Duis aute
					    </p>
					    
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-profiles">
			<div class="panel panel-default panel-resources">
				<div class="panel-body">
					<div class="media">
					  <a class="media-left" href="#">
					    <img src="{% static 'img/resource.jpg' %}" class="img-resource">
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading"><b class="font-size-1">Mauris quis mattis est</b></h4>
					    
					    <p class="font-size-peq-2">
					    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					    	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					    	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					    	consequat. Duis aute
					    </p>
					    
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-profiles">
			<div class="panel panel-default panel-resources">
				<div class="panel-body">
					<div class="media">
					  <a class="media-left" href="#">
					    <img src="{% static 'img/resource.jpg' %}" class="img-resource">
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading"><b class="font-size-1">Mauris quis mattis est</b></h4>
					    
					    <p class="font-size-peq-2">
					    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					    	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					    	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					    	consequat. Duis aute
					    </p>
					    
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-profiles">
			<div class="panel panel-default panel-resources">
				<div class="panel-body">
					<div class="media">
					  <a class="media-left" href="#">
					    <img src="{% static 'img/resource.jpg' %}" class="img-resource">
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading"><b class="font-size-1">Mauris quis mattis est</b></h4>
					    
					    <p class="font-size-peq-2">
					    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					    	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					    	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					    	consequat. Duis aute
					    </p>
					    
					  </div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<div class="subtitle-resource">
				Blog
			</div>
			
		</div>
		<div class="col-md-6 col-profiles">
			<div class="panel panel-default panel-resources">
				<div class="panel-body">
					<div class="media">
					  <a class="media-left" href="#">
					    <img src="{% static 'img/resource.jpg' %}" class="img-resource">
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading"><b class="font-size-1">Mauris quis mattis est</b></h4>
					    
					    <p class="font-size-peq-2">
					    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					    	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					    	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					    	consequat. Duis aute
					    </p>
					    
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-profiles">
			<div class="panel panel-default panel-resources">
				<div class="panel-body">
					<div class="media">
					  <a class="media-left" href="#">
					    <img src="{% static 'img/resource.jpg' %}" class="img-resource">
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading"><b class="font-size-1">Mauris quis mattis est</b></h4>
					    
					    <p class="font-size-peq-2">
					    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					    	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					    	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					    	consequat. Duis aute
					    </p>
					    
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-profiles">
			<div class="panel panel-default panel-resources">
				<div class="panel-body">
					<div class="media">
					  <a class="media-left" href="#">
					    <img src="{% static 'img/resource.jpg' %}" class="img-resource">
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading"><b class="font-size-1">Mauris quis mattis est</b></h4>
					    
					    <p class="font-size-peq-2">
					    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					    	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					    	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					    	consequat. Duis aute
					    </p>
					    
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-profiles">
			<div class="panel panel-default panel-resources">
				<div class="panel-body">
					<div class="media">
					  <a class="media-left" href="#">
					    <img src="{% static 'img/resource.jpg' %}" class="img-resource">
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading"><b class="font-size-1">Mauris quis mattis est</b></h4>
					    
					    <p class="font-size-peq-2">
					    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					    	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					    	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					    	consequat. Duis aute
					    </p>
					    
					  </div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<div class="subtitle-resource">
				Videos
			</div>
			
		</div>
		<div class="col-md-6 col-profiles">
			<div class="panel panel-default panel-resources">
				<div class="panel-body">
					<div class="media">
					  <a class="media-left" href="#">
					    <img src="{% static 'img/resource.jpg' %}" class="img-resource">
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading"><b class="font-size-1">Mauris quis mattis est</b></h4>
					    
					    <p class="font-size-peq-2">
					    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					    	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					    	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					    	consequat. Duis aute
					    </p>
					    
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-profiles">
			<div class="panel panel-default panel-resources">
				<div class="panel-body">
					<div class="media">
					  <a class="media-left" href="#">
					    <img src="{% static 'img/resource.jpg' %}" class="img-resource">
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading"><b class="font-size-1">Mauris quis mattis est</b></h4>
					    
					    <p class="font-size-peq-2">
					    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					    	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					    	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					    	consequat. Duis aute
					    </p>
					    
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-profiles">
			<div class="panel panel-default panel-resources">
				<div class="panel-body">
					<div class="media">
					  <a class="media-left" href="#">
					    <img src="{% static 'img/resource.jpg' %}" class="img-resource">
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading"><b class="font-size-1">Mauris quis mattis est</b></h4>
					    
					    <p class="font-size-peq-2">
					    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					    	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					    	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					    	consequat. Duis aute
					    </p>
					    
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-profiles">
			<div class="panel panel-default panel-resources">
				<div class="panel-body">
					<div class="media">
					  <a class="media-left" href="#">
					    <img src="{% static 'img/resource.jpg' %}" class="img-resource">
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading"><b class="font-size-1">Mauris quis mattis est</b></h4>
					    
					    <p class="font-size-peq-2">
					    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					    	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					    	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					    	consequat. Duis aute
					    </p>
					    
					  </div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<div class="subtitle-resource">
				Events
			</div>
			
		</div>
		<div class="col-md-6 col-profiles">
			<div class="panel panel-default panel-resources">
				<div class="panel-body">
					<div class="media">
					  <a class="media-left" href="#">
					    <img src="{% static 'img/resource.jpg' %}" class="img-resource">
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading"><b class="font-size-1">Mauris quis mattis est</b></h4>
					    
					    <p class="font-size-peq-2">
					    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					    	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					    	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					    	consequat. Duis aute
					    </p>
					    
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-profiles">
			<div class="panel panel-default panel-resources">
				<div class="panel-body">
					<div class="media">
					  <a class="media-left" href="#">
					    <img src="{% static 'img/resource.jpg' %}" class="img-resource">
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading"><b class="font-size-1">Mauris quis mattis est</b></h4>
					    
					    <p class="font-size-peq-2">
					    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					    	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					    	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					    	consequat. Duis aute
					    </p>
					    
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-profiles">
			<div class="panel panel-default panel-resources">
				<div class="panel-body">
					<div class="media">
					  <a class="media-left" href="#">
					    <img src="{% static 'img/resource.jpg' %}" class="img-resource">
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading"><b class="font-size-1">Mauris quis mattis est</b></h4>
					    
					    <p class="font-size-peq-2">
					    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					    	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					    	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					    	consequat. Duis aute
					    </p>
					    
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-profiles">
			<div class="panel panel-default panel-resources">
				<div class="panel-body">
					<div class="media">
					  <a class="media-left" href="#">
					    <img src="{% static 'img/resource.jpg' %}" class="img-resource">
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading"><b class="font-size-1">Mauris quis mattis est</b></h4>
					    
					    <p class="font-size-peq-2">
					    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					    	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					    	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					    	consequat. Duis aute
					    </p>
					    
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}